[Desktop Entry]
Name=Expo-City Dubai FR
Comment=Face Recognition Access Control System
Exec=/opt/expo-fr/expo-launcher.sh
Type=Application
Terminal=true
Icon=/opt/expo-fr/icon.png
Categories=System;Security;
StartupNotify=true
StartupWMClass=Expo-City-FR
Keywords=face;recognition;access;control;suprema;
Name[en]=Expo-City Dubai FR
Name[ar]=إكسبو سيتي دبي FR
