[Desktop Entry]
Name=Expo-City Dubai FR
Comment=Face Recognition Access Control System
Exec=/home/test/EXPO-CITY-DUBAI-FR/expo-launcher-local.sh
Type=Application
Terminal=true
Icon=/home/test/EXPO-CITY-DUBAI-FR/icon.png
Categories=System;Security;
StartupNotify=true
StartupWMClass=Expo-City-FR
Keywords=face;recognition;access;control;suprema;
Name[en]=Expo-City Dubai FR
Path=/home/test/EXPO-CITY-DUBAI-FR
